In [1]:
import requests
import urllib.request
import time
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
lebron_url = 'https://www.ebay.com/sch/i.html?_from=R40&_nkw=lebron+rookie+card&_sacat=0&rt=nc&LH_Sold=1&LH_Complete=1'
charizard_url = 'https://www.ebay.com/sch/i.html?_nkw=1st+edition+charizard&_sop=12&LH_All=1&rt=nc&LH_Sold=1&LH_Complete=1'
zion_url = 'https://www.ebay.com/sch/i.html?_from=R40&_nkw=zion+rookie+card&_sacat=0&LH_TitleDesc=0&LH_Sold=1&LH_All=1&rt=nc&LH_Complete=1'

In [3]:
lebron_response = requests.get(lebron_url)
charizard_response = requests.get(charizard_url)
zion_url = requests.get(zion_url)

In [4]:
lebron_soup = BeautifulSoup(lebron_response.text, "html.parser")
charizard_soup = BeautifulSoup(charizard_response.text, "html.parser")
zion_soup = BeautifulSoup(zion_url.text, "html.parser")

In [5]:
lebron_listings = lebron_soup.find_all('li', attrs={'class': 's-item'})
charizard_listings = charizard_soup.find_all('li', attrs={'class': 's-item'})
zion_listings = zion_soup.find_all('li', attrs={'class': 's-item'})

In [6]:
lebron_price_lst = []
lebron_name_lst = []

charizard_price_lst = []
charizard_name_lst = []

zion_price_lst = []
zion_name_lst = []

for item in lebron_listings:
    l_name = item.find_all('h3', attrs={'class':"s-item__title"});
    lebron_name_lst.append(l_name)
    
    l_price = item.find_all('span', attrs={'class':"s-item__price"})
    lebron_price_lst.append(l_price)
    
for item in charizard_listings:
    c_name = item.find_all('h3', attrs={'class':"s-item__title"});
    charizard_name_lst.append(c_name)
    
    c_price = item.find_all('span', attrs={'class':"s-item__price"})
    charizard_price_lst.append(c_price)
    
for item in lebron_listings:
    z_name = item.find_all('h3', attrs={'class':"s-item__title"});
    zion_name_lst.append(z_name)
    
    z_price = item.find_all('span', attrs={'class':"s-item__price"})
    zion_price_lst.append(z_price)

In [7]:
lebron_df = pd.DataFrame({"Name": lebron_name_lst, "Prices": lebron_price_lst})
charizard_df = pd.DataFrame({"Name": charizard_name_lst, "Prices": charizard_price_lst})
zion_df = pd.DataFrame({"Name": zion_name_lst, "Prices": zion_price_lst})

In [8]:
lebron_df = lebron_df.drop([0])
charizard_df = charizard_df.drop([0])
zion_df = zion_df.drop([0])

In [9]:
lebron_df.head()

                                                Name         Prices
1  [[2002 ROOKIE PHENOMS - LEBRON JAMES - HIGH SC...    [[[$1.25]]]
2  [[2003-04 Fleer Ultra Basketball Sealed Unopen...  [[[$399.99]]]
3  [[2003 Lebron James card (piece of floor at St...   [[[$25.00]]]
4  [[LeBron James 2003-04 Upper Deck Rookie Exclu...   [[[$57.00]]]
5  [[2003 LEBRON JAMES ALL-SPORTS MAGAZINE ROOKIE...   [[[$35.00]]]

In [10]:
charizard_df.head()

                                                Name         Prices
1  [[Pokemon 2017 Burning Shadows #20 Charizard G...   [[[$51.00]]]
2  [[Charizard, Base Set, 1st Edition, Shadowless...   [[[$86.35]]]
3  [[126 ALL 1st edition pokemon cards mint holo ...  [[[$385.00]]]
4       [[rare pokemon cards charizard 1st edition]]  [[[$100.00]]]
5  [[Shiny Charizard Pokemon 30 card Fat Pack wit...    [[[$9.00]]]

In [11]:
zion_df.head()

                                                Name         Prices
1  [[2002 ROOKIE PHENOMS - LEBRON JAMES - HIGH SC...    [[[$1.25]]]
2  [[2003-04 Fleer Ultra Basketball Sealed Unopen...  [[[$399.99]]]
3  [[2003 Lebron James card (piece of floor at St...   [[[$25.00]]]
4  [[LeBron James 2003-04 Upper Deck Rookie Exclu...   [[[$57.00]]]
5  [[2003 LEBRON JAMES ALL-SPORTS MAGAZINE ROOKIE...   [[[$35.00]]]